---
import Chip from "./Chip.astro";

import { type Professional } from "../types";

interface Props {
  professional: Professional;
}

const { professional } = Astro.props;

const shareMessage = `Encontré este profesional en LuganoConecta! -> ${Astro.url.href}

  *${professional.fantasyName}*
  _${professional.name} ${professional.lastname}_
  ${professional.services?.map((service) => service?.name).join(", ")}
  ${professional.email ? `Email: ${professional.email}` : ""}
  ${professional.phone ? `Teléfono: ${professional.phone}` : ""}
`;
---

<article
  class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-4 flex flex-col gap-4 items-center text-center"
>
  <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
    {professional.fantasyName}
  </h3>
  <h4 class="text-sm text-gray-500 dark:text-gray-400">
    {professional.name}
    {professional.lastname}
  </h4>
  <div class="flex flex-wrap justify-center gap-2">
    {professional.services?.map((service) => <Chip label={service?.name} />)}
  </div>
  <div class="flex flex-wrap justify-center gap-2 mt-auto">
    {
      professional.email && (
        <>
          <a
            href={`mailto:${professional.email}`}
            target="_blank"
            class="button"
            data-tooltip-target={`tooltip-email-${professional._id}`}
            aria-label="Enviar Email"
          >
            <svg
              class="w-6 h-6 "
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
              />
            </svg>
          </a>
          <div
            id={`tooltip-email-${professional._id}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            Enviar email
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
        </>
      )
    }
    {
      professional.phone && (
        <>
          <a
            href={`https://wa.me/${professional.phone}`}
            target="_blank"
            class="button"
            data-tooltip-target={`tooltip-message-${professional._id}`}
            aria-label="Enviar mensaje"
          >
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M12 4a8 8 0 0 0-6.895 12.06l.569.718-.697 2.359 2.32-.648.379.243A8 8 0 1 0 12 4ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.96 9.96 0 0 1-5.016-1.347l-4.948 1.382 1.426-4.829-.006-.007-.033-.055A9.958 9.958 0 0 1 2 12Z"
                clip-rule="evenodd"
              />
              <path
                fill="currentColor"
                d="M16.735 13.492c-.038-.018-1.497-.736-1.756-.83a1.008 1.008 0 0 0-.34-.075c-.196 0-.362.098-.49.291-.146.217-.587.732-.723.886-.018.02-.042.045-.057.045-.013 0-.239-.093-.307-.123-1.564-.68-2.751-2.313-2.914-2.589-.023-.04-.024-.057-.024-.057.005-.021.058-.074.085-.101.08-.079.166-.182.249-.283l.117-.14c.121-.14.175-.25.237-.375l.033-.066a.68.68 0 0 0-.02-.64c-.034-.069-.65-1.555-.715-1.711-.158-.377-.366-.552-.655-.552-.027 0 0 0-.112.005-.137.005-.883.104-1.213.311-.35.22-.94.924-.94 2.16 0 1.112.705 2.162 1.008 2.561l.041.06c1.161 1.695 2.608 2.951 4.074 3.537 1.412.564 2.081.63 2.461.63.16 0 .288-.013.4-.024l.072-.007c.488-.043 1.56-.599 1.804-1.276.192-.534.243-1.117.115-1.329-.088-.144-.239-.216-.43-.308Z"
              />
            </svg>
          </a>
          <div
            id={`tooltip-phone-${professional._id}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            Llamar
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
          <a
            href={`tel:${professional.phone}`}
            target="_blank"
            class="button"
            data-tooltip-target={`tooltip-phone-${professional._id}`}
            aria-label="Llamar"
          >
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
              />
            </svg>
          </a>
          <div
            id={`tooltip-message-${professional._id}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            Enviar mensaje
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
          <a
            href={`https://wa.me/?text=${encodeURIComponent(shareMessage)}`}
            target="_blank"
            class="button"
            data-tooltip-target={`tooltip-share-${professional._id}`}
            aria-label="Compartir"
          >
            <svg
              class="w-6 h-6 "
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M7.926 10.898 15 7.727m-7.074 5.39L15 16.29M8 12a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm12 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm0-11a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
              />
            </svg>
          </a>
          <div
            id={`tooltip-share-${professional._id}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            Compartir
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
        </>
      )
    }
  </div>
</article>

<style>
  .button {
    @apply text-emerald-400 border border-emerald-400 hover:bg-emerald-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-emerald-400 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:border-emerald-500 dark:text-emerald-500 dark:hover:text-white dark:focus:ring-emerald-500 dark:hover:bg-emerald-500;
  }
</style>
